<!DOCTYPE html>
<html>
    <head>
        <title>Reserva de Pistas!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/style.css" rel="stylesheet">
        <link  href="/css/base.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <% include pistas-nav-bar %>
        <div  class="container" id="main-content">
            <div class="row">
                <div id="pistas" class="col-md-10">
                    <div class="page-header">
                        <ul class="nav nav-pills nav-dia">
                            <li>
                                <a href="#" id="info"><span class="glyphicon glyphicon-info-sign"></span></a>
                            </li>
                            <li class="pill-dia" dia="hoy">
                                <a href="#" id="hoy">Hoy</a>
                            </li>
                            <li class="pill-dia" dia="manana">
                                <a href="#" id="manana">Mañana</a>
                            </li>
                        </ul>
                        <h1><%= active.name %></h1>
                    </div>

                </div>
            </div>

            <!-- Success reserva alert -->
            <div id="success-reserva" class="alert-info jumbotron flyover flyover-centered">
                <h3><strong>¡Reserva realizada con éxito</strong>!</h3>
                <p>Su reserva se realizó <strong>correctamente</strong>, si lo desea
                    <strong>puede anularla</strong> haciendo click de nuevo sobre la reserva.
                </p>
            </div>

            <!-- Error reserva alert -->
            <div id="error-reserva" class="alert alert-danger flyover flyover-centered">
                <h4><strong>Hubo un problema con su reserva</strong></h4>
                <p>Su reserva no se realizo correctamente, intentelo <strong>más tarde</strong>
                 ó <strong>contacte</strong> con el administrador.
                </p>
            </div>

            <!-- Success anulación alert -->
            <div id="success-anulacion" class="alert-info jumbotron flyover flyover-centered">
                <h3><strong>Reserva anulada correctamente</strong> </h3>
                <p> Si lo desesa <strong>puede volver a reservar</strong> otra hora en cualquier otra pista.
                </p>
            </div>

            <!-- Error anulación alert -->
            <div id="error-anulacion" class="alert alert-danger flyover flyover-centered">
                <h4><strong>No se pudo anular su reserva</strong></h4>
                <p>Su reserva <strong>no se anuló</strong> correctamente, intentelo <strong>más tarde</strong>
                 ó <strong>contacte</strong> con el administrador.
                </p>
            </div>

            <!-- Máximo reservas error-->
            <div id="maximo-reservas-error" class="alert alert-warning flyover flyover-centered">
                <h4><strong>Ha alcanzado el número máximo de reservas</strong></h4>
                <p>Usted ha reservado el <strong>máximo de reservas</strong> posibles, por favor,
                pruebe a <strong>anular</strong> otra reserva para poder continuar.
                </p>
            </div>


            <%- include templates.ejs %>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="/js/lib/bootstrap.min.js"></script>
            <script src="/js/navbar.js"></script>
            <script src="/js/lib/underscore.js"></script>
            <script src="/js/lib/backbone.js"></script>
            <script src="/js/lib/handlebars.js"></script>
            <script src="/js/views.js"></script>
            <script src="/js/models.js"></script>
            <script>
                cuadros = new Cuadros(<%- JSON.stringify(cuadros) %>);
                cuadro = new Cuadro(<%- JSON.stringify(active) %>);
                pistas = new Pistas(cuadro);
                pistas.reset(<%- JSON.stringify(pistas) %>);
                pistas.sort();

                user = new User(<%- JSON.stringify(user) %>);
            </script>
            <script src="/js/pistas.js"></script>
        </div>
    </body>
</html>

